.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BorderedButton_btn__nenER {
  --color-1: #7a00cc;
  border: 1px solid var(--dark-pink);
  border-radius: 8px;
  height: 40px;
  padding: 0 12px;
  transition: all 0.3s ease;
}
.BorderedButton_btn__nenER:hover {
  background: var(--dark-pink);
}
.ButtonGroup_group__UbpA8 button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
}
.ButtonGroup_group__UbpA8 button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.me-dropdown-container {
  font-family: var(--dropdown__font-family);
  font-size: var(--dropdown__font-size);
}
.me-dropdown-container input {
  background: var(--dropdown-bg);
  border: var(--input-border);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  padding: 12px 36px 12px 12px;
}
.me-dropdown-container input.no-border {
  border: 1px solid transparent;
}
.me-dropdown-container input:focus {
  background: var(--dropdown-bg);
  border: var(--input-border-focus);
}
.me-dropdown-container .chevron-down {
  align-items: center;
  display: inline-block;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
}
.me-dropdown-container .chevron-down img {
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.me-dropdown-container .chevron-down img.isOpen {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.me-dropdown-container .dropdown {
  background: var(--dropdown-bg);
  border: 1px solid #2b273f;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), 2px 4px 12px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 9999;
}
.me-dropdown-container .dropdown.visible {
  display: flex;
  flex-direction: column;
}
.me-dropdown-container.theme-me-dark-1 input {
  background: var(--grey-200);
}
.me-dropdown-container.theme-me-dark-1 input::-webkit-input-placeholder {
  opacity: 1;
}
.me-dropdown-container.theme-me-dark-1 input:-ms-input-placeholder {
  opacity: 1;
}
.me-dropdown-container.theme-me-dark-1 input::placeholder {
  color: #a89db4;
  font-family: var(--input__placeholder__font-family);
  font-size: var(--input__placeholder__font-size);
  opacity: 1;
}
.me-dropdown-container.theme-me-dark-1 input::-webkit-input-placeholder {
  color: #a89db4;
  font-family: var(--input__placeholder__font-family);
  font-size: var(--input__placeholder__font-size);
}
.me-dropdown-container.theme-me-dark-1 input:-ms-input-placeholder {
  color: #a89db4;
  font-family: var(--input__placeholder__font-family);
  font-size: var(--input__placeholder__font-size);
}
.me-dropdown-container.theme-me-dark-1 input::-ms-input-placeholder {
  color: #a89db4;
  font-family: var(--input__placeholder__font-family);
  font-size: var(--input__placeholder__font-size);
}
.me-dropdown-container.theme-me-dark-1 .dropdown {
  background: var(--grey-200);
  color: var(--white);
}
nav .header {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
nav .header .navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
nav .header .toggle-icon {
  color: var(--white);
}
nav .header .logo {
  height: 80px;
  width: 180px;
}
nav .header .logo.custom {
  object-fit: contain;
  width: 200px;
}
nav .header .dropdown-menu {
  background-color: #1c1326;
  border: 1px solid #2b273f;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), 2px 4px 12px rgba(0, 0, 0, 0.15);
  color: var(--white);
  padding: 0;
}
.navbar-collapse {
  margin-left: -1rem;
  margin-right: -1rem;
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    margin: 0;
  }
}
.nav-item--main-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  width: 100%;
}
@media (min-width: 768px) {
  .nav-item--main-nav {
    width: auto;
  }
}
@media (min-width: 992px) {
  .nav-item--main-nav {
    margin: 0;
    margin-right: 1rem;
  }
}
.nav-item--inner {
  margin: 0;
  padding: 0 2rem;
  width: auto;
}
@media (min-width: 768px) {
  .nav-item--inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 992px) {
  .nav-item--inner {
    padding-bottom: 0;
    padding-top: 0;
  }
  .nav-item--inner:hover {
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 0.1;
    background-color: rgba(180, 171, 186, var(--tw-bg-opacity));
  }
}
.subnav-nav-link {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .subnav-nav-link {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
input.header-search__input {
  height: auto;
}
.HeaderV2_collapseBtn__KfrfG:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.HeaderV2_showSearch__m65vZ {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 576px) {
  .HeaderV2_logo__Wyfk\+ {
    height: 80px !important;
    width: 150px !important;
  }
}
@media (min-width: 992px) {
  .HeaderV2_logo__Wyfk\+ {
    width: 180px !important;
  }
}
.HeaderV2_search__UUbij .header-search__control {
  border: 1px solid #24182f;
}
.HeaderV2_transparentHeaderAction__SylY4 {
  background: rgba(77, 61, 92, 0.3);
  border-radius: 50%;
}
.DrawerV2_static__OX7dp {
  overflow-y: hidden !important;
}
.NotificationMenu_popover__rmFxu {
  background-color: #0c0c0d;
  border: 1px solid #2b273f;
}
.NotificationMenu_sidebarContainer__SWafY {
  padding: 30 20 20;
  z-index: 1000000;
}
.NotificationMenu_dot__46bze {
  background-color: var(--dark-pink);
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.NotificationMenu_notificationUnread__t5ug3 {
  background-color: #59486a;
}
.NotificationMenu_notificationUnread__t5ug3
  :hover
  .NotificationMenu_markAsRead__4R0zl {
  visibility: visible;
}
.NotificationMenu_notificationRead__EdU4X {
  background: #24182f;
  border: 1px solid #59486a;
  border-radius: 4px;
  box-sizing: border-box;
}
.NotificationMenu_anchor__DTfpi:hover {
  color: inherit !important;
}
.NotificationMenu_moreUnread__jUOyk {
  background-color: #27272b;
  color: #3b82f6;
  opacity: 0.7;
}
.NotificationMenu_moreUnread__jUOyk:hover {
  opacity: 1;
}
.NotificationMenu_notificationContent__CrDZ9 {
  flex: 1 0 100px;
  overflow-y: auto;
}
.PlainButton_btn__CRXH4 {
  --primary-color: #e42575;
  background: var(--primary-color);
  border-radius: 8px;
  height: 40px;
  padding: 0 12px;
  transition: all 0.3s ease;
}
.PlainButton_btn__CRXH4:hover {
  opacity: 0.8;
}
.PlainButton_btn__CRXH4.PlainButton_primary__22Ken {
  background: var(--primary-color);
}
.PlainButton_btn__CRXH4.PlainButton_transparent__LvWuT {
  background: transparent;
  border: 1px solid #33273f;
}
.PlainButton_btn__CRXH4.PlainButton_bordered__3suwZ {
  background: transparent;
  border: 1px solid var(--primary-color);
}
.PlainButton_btn__CRXH4.PlainButton_disabled__o-JAq {
  cursor: not-allowed;
  opacity: 0.7;
}
.PlainButton_btn__CRXH4.PlainButton_disabled__o-JAq:hover {
  opacity: 0.7;
}
.card.collection-card {
  background: #120c18;
  border: 1px solid #24182f;
  border-radius: 24px;
  color: var(--white) !important;
  cursor: pointer;
  width: 100%;
}
.card.collection-card.raydium {
  border: 1px solid #00b6bf;
}
.card.collection-card.raydium .image-over {
  margin: -1px;
}
.card.collection-card .image-over {
  background: var(--card-bg);
  border-radius: 16px;
  flex: 1 0 auto;
  overflow: hidden;
  padding-bottom: 100%;
}
.card.collection-card .image-over,
.card.collection-card .image-over .card-img-top {
  align-items: center;
  display: flex;
  justify-content: center;
}
.card.collection-card:hover {
  background-color: #780ac2;
}
.card.collection-card .description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  max-height: 44px;
  overflow: hidden;
}
.card-organization-info {
  align-items: center;
  color: var(--dark-pink);
  display: flex;
  gap: 0 0.25rem;
  justify-content: center;
  line-height: 140%;
}
.TransparentBadge_badge__tSxnl {
  background-color: hsla(0, 0%, 60%, 0.2);
}
.Sidebar_sidebar__wxxb8 {
  height: 100vh;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  width: 100%;
  z-index: 998;
}
.Sidebar_sidebar__wxxb8 .Sidebar_content__BnMM7 {
  border-right: 1px solid #24182f;
  margin-top: 80px;
}
.Sidebar_sidebar__wxxb8.Sidebar_isMeTheme__uAp0q .Sidebar_content__BnMM7 {
  margin-top: 104px;
}
@media (min-width: 992px) {
  .Sidebar_sidebar__wxxb8 {
    width: 240px;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7 {
    width: 80px;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7:hover {
    width: 240px;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7 .Sidebar_content__BnMM7 {
    width: 80px !important;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7 .Sidebar_tab__1lv-Q {
    min-width: unset;
    width: 48px;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7 .Sidebar_label__Chew5 {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7 .Sidebar_subMenu__PHJln {
    display: none;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7 .Sidebar_content__BnMM7:hover {
    width: 240px !important;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7
    .Sidebar_content__BnMM7:hover
    .Sidebar_label__Chew5 {
    opacity: 1;
    visibility: visible;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7
    .Sidebar_content__BnMM7:hover
    .Sidebar_subMenu__PHJln {
    display: block;
  }
  .Sidebar_sidebar__wxxb8.Sidebar_slim__EH6w7
    .Sidebar_content__BnMM7:hover
    .Sidebar_tab__1lv-Q {
    width: 200px;
  }
}
.Sidebar_expand__-m1ND {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 992px) {
  .Sidebar_sidebar__wxxb8 {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}
.content__regular {
  width: calc(100% - 240px);
}
.content__slim {
  width: calc(100% - 80px);
}
.anchor-link {
  height: 24px;
}
.anchor-link:hover {
  color: #ef5da8 !important;
}
.numeric-input {
  background: #120c18;
  border: 1px solid #4d3d5c;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}
.numeric-input:focus {
  border: 1px solid #595280;
  outline: none;
}
.numeric-input .no-border {
  border: 1px solid transparent;
}
.modal-content {
  background: #2b2640;
}
.modal-footer,
.modal-header {
  border-color: transparent;
}
.modal-close-btn:hover {
  opacity: 0.8;
}
.modal-disabled-over-lay {
  background-color: transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}
.attributes-row {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
.attributes-row .attributes-column {
  margin-bottom: 0.5rem;
}
.attributes-column {
  padding-right: 0;
}
.attributes-main img {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 1rem;
}
.attributes-main img:hover {
  opacity: 0.8;
}
.attributes-main:hover img {
  display: initial;
}
.theme-raydium .attributes-main {
  border: 1px solid var(--accordion-border-color);
}
.rarity-ranking--score {
  margin-right: 0.2rem;
}
.rarity-score {
  color: var(--rarity-score);
}
.NFTMedia_media__Xij2j {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.NFTMedia_top__xHGti {
  object-position: top;
}
.NFTMedia_center__uJfn8 {
  object-position: center;
}
.NFTMedia_bottom__j6Y0T {
  object-position: bottom;
}
.NFTMedia_htmlNFTContainer__70m-o {
  position: relative;
}
.NFTMedia_externalLink__I0AHV {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.auction__title {
  font-size: 58px;
  font-weight: 800;
}
.auction__image {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 500px;
  overflow: hidden;
}
.auction__image img {
  max-height: 500px;
  object-fit: contain;
}
.auction__creator {
  align-items: center;
  display: flex;
}
.auction__creator .creator-address {
  font-weight: 700;
}
.auction__creator .creator-link {
  color: var(--white) !important;
  margin: 0;
}
.auction__interface h2 {
  font-weight: 800;
}
.auction__image video {
  max-height: 500px;
}
.auction__stats {
  background-color: var(--grey-200);
  border-radius: 8px;
}
.auction__stats h1 {
  font-size: 32px;
  font-weight: 800;
}
.auction__stats h4,
.auction__stats p {
  font-size: 14px;
}
.auction__stats .live-indicator {
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
}
.auction__stats .live-indicator-circle {
  -webkit-animation: blinker 6s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  animation: blinker 6s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  background: #adff2f;
  border-radius: 50%;
  display: inline-block;
  font-size: 10px;
  height: 0.7em;
  margin-right: 5px;
  opacity: 0;
  vertical-align: baseline;
  width: 0.7em;
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.auction__bidder {
  background-color: var(--grey-200);
  border-radius: 8px;
}
.auction__bidder h4 {
  font-size: 14px;
}
.auction__bidder .last-bidder {
  font-weight: 700;
}
.auction__place-bid.bid-button {
  background-color: var(--dark-pink);
}
.auction__place-bid-modal h1 {
  font-size: 20px;
  font-weight: 700;
}
.card.auction-card {
  background: var(--nav-bg);
  border: 1px solid var(--grey-300);
  border-radius: 16px;
  color: var(--white) !important;
  cursor: pointer;
  width: 100%;
}
.card.auction-card.raydium {
  border: 1px solid #00b6bf;
}
.card.auction-card.raydium .image-over {
  margin: -1px;
}
.card.auction-card .image-over {
  background: var(--nav-bg);
  border-radius: 16px;
  flex: 1 0 auto;
  max-height: 260px;
  overflow: hidden;
}
.card.auction-card .image-over,
.card.auction-card .image-over .card-img-top {
  align-items: center;
  display: flex;
  justify-content: center;
}
.card.auction-card .description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  max-height: 44px;
  overflow: hidden;
}
.theme-thugbirdz .card.collection-card:hover {
  background-color: var(--theme-primary-color);
}
.theme-thugbirdz .card.collection-card:hover .card-caption * {
  color: #000 !important;
}
.UpVote_btnCompact__TRufr {
  transition: all 0.12s ease-in-out;
}
.UpVote_btnCompact__TRufr:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.UpVote_btnCompact__TRufr:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.UpVote_btnCompact__TRufr:disabled {
  cursor: not-allowed;
}
.UpVote_flatBtn__3urIY {
  transition: all 0.12s ease-in-out;
}
.UpVote_flatBtn__3urIY:hover {
  opacity: 0.8;
}
.UpVote_flatBtn__3urIY:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.UpVote_flatBtn__3urIY:disabled {
  cursor: not-allowed;
}
.CalendarCard_meLaunchPadLabel__2vF-o {
  -webkit-backdrop-filter: blur(2.83458px);
  backdrop-filter: blur(2.83458px);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--primary-p-color) !important;
  letter-spacing: 0.15em;
}
.calendar-card {
  background-color: var(--card-bg-color);
}
.calendar-card__img-container {
  max-height: 600px;
}
.calendar-card .attributes-row {
  margin-left: -12px;
}
.calendar-card .attributes-main {
  background-color: #2b273f !important;
}
.faq--answer a.faq--link.color-dark-pink {
  color: var(--dark-pink);
}
.faq--answer a.faq--link.color-dark-pink:hover {
  text-decoration: underline;
}
.Carousel_arrow__pjtQq,
.Carousel_arrow__pjtQq:hover {
  background: #120c18 !important;
  border: 1px solid #24182f;
}
.Carousel_arrow__pjtQq:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.Carousel_arrow__pjtQq:before {
  display: none;
}
.Carousel_arrow__pjtQq svg {
  display: initial;
}
.Carousel_arrow__pjtQq.Carousel_left__EcpM8 {
  left: -10px;
}
.Carousel_arrow__pjtQq.Carousel_right__T0VIX {
  right: -10px;
}
.Carousel_carousel__a8r0p {
  align-items: center;
  display: flex;
  position: relative;
}
.Carousel_carousel__a8r0p .Carousel_scrollContainer__9fHub {
  -ms-overflow-style: none;
  padding: 20px 0;
  scrollbar-width: none;
}
.Carousel_carousel__a8r0p .Carousel_scrollContainer__9fHub::-webkit-scrollbar {
  display: none;
}
.Carousel_carousel__a8r0p .Carousel_carouselItem__y6Ip2 {
  margin-right: 16px;
}
.Carousel_carousel__a8r0p
  .Carousel_carouselItem__y6Ip2
  .Carousel_standalone__P6jOX {
  width: 252px;
}
.Carousel_carousel__a8r0p
  .Carousel_carouselItem__y6Ip2
  .Carousel_standalone__P6jOX
  .Carousel_cardMedia__kJpe- {
  height: 189px;
  width: 252px;
}
.Carousel_carousel__a8r0p
  .Carousel_carouselItem__y6Ip2
  .Carousel_standalone__P6jOX
  .Carousel_cardInfo__voX62 {
  padding: 8px 0;
}
@media (min-width: 576px) {
  .Carousel_carousel__a8r0p
    .Carousel_carouselItem__y6Ip2
    .Carousel_standalone__P6jOX {
    width: 220px;
  }
  .Carousel_carousel__a8r0p
    .Carousel_carouselItem__y6Ip2
    .Carousel_standalone__P6jOX
    .Carousel_cardMedia__kJpe- {
    height: 165px;
    width: 220px;
  }
  .Carousel_carousel__a8r0p
    .Carousel_carouselItem__y6Ip2
    .Carousel_standalone__P6jOX
    .Carousel_cardInfo__voX62 {
    padding: 12px 0;
  }
  .Carousel_carousel__a8r0p
    .Carousel_carouselItem__y6Ip2
    .Carousel_standalone__P6jOX.Carousel_nestedParent__leiMc {
    width: 320px;
  }
  .Carousel_carousel__a8r0p
    .Carousel_carouselItem__y6Ip2
    .Carousel_standalone__P6jOX.Carousel_nestedParent__leiMc
    .Carousel_cardMedia__kJpe- {
    aspect-ratio: 320/256;
    max-width: 320px;
    min-width: 320px;
  }
}
.Carousel_carousel__a8r0p
  .Carousel_carouselItem__y6Ip2
  .Carousel_nested__Eu-g- {
  max-height: 152px;
  width: 152px;
}
.Carousel_carousel__a8r0p
  .Carousel_carouselItem__y6Ip2
  .Carousel_nested__Eu-g-
  .Carousel_cardMedia__kJpe- {
  max-height: 106px;
  width: 152px;
}
.Carousel_carousel__a8r0p
  .Carousel_carouselItem__y6Ip2
  .Carousel_nested__Eu-g-
  .Carousel_cardInfo__voX62 {
  padding: 4px 0;
}
.Carousel_card__qZh08 {
  transition-duration: 0.15s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.Carousel_card__qZh08:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
.Carousel_pillTab__rZkG6,
.Carousel_pillTabs__amXzc {
  border-radius: 20px !important;
}
.Carousel_derivativesToggle__6k8pP .toggle-checkbox:checked + .toggle-label {
  --tw-bg-opacity: 1;
  background-color: rgba(228, 37, 117, var(--tw-bg-opacity));
}
.Carousel_seeAll__H7M3I {
  border-radius: 20px;
}
@media (min-width: 576px) {
  .Carousel_seeAll__H7M3I {
    border-radius: 4px;
  }
}
.Carousel_pill__oweId {
  border-radius: 20px;
}
.me-select {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px;
}
.me-select::-webkit-scrollbar {
  background: #000;
  height: 12px;
  width: 12px;
}
.me-select::-webkit-scrollbar-thumb {
  background: #4e4670;
  border-radius: 1ex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1ex;
  -moz-border-radius: 1ex;
  -ms-border-radius: 1ex;
  -o-border-radius: 1ex;
}
.me-select::-webkit-scrollbar-corner {
  background: #000;
}
.me-select .me-select-item {
  cursor: pointer;
  padding: 6px 0;
}
.me-select .me-selected-item {
  color: var(--icon-color);
}
.theme-thugbirdz .me-selected-item {
  color: var(--theme-primary-color);
}
.card__main {
  background: var(--card-bg);
  border-radius: 16px;
  max-width: none;
  width: 100%;
}
.card__main .card__custom-overlay {
  opacity: 0;
  visibility: hidden;
}
.card__main:hover .card__custom-overlay {
  opacity: 1;
  visibility: visible;
}
.card__main .pure-card {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.card__main .image-over {
  border-radius: 16px;
  flex: 1 0 auto;
  max-height: 260px;
  min-height: 260px;
}
.card__main .image-over,
.card__main .image-over .card-img-top {
  align-items: center;
  display: flex;
  justify-content: center;
}
.card__main .card-caption {
  flex: 0 0 auto;
}
.card__main h6 {
  margin-top: 0;
}
.card__main .noTitle {
  visibility: hidden;
}
.truncated {
  flex: 1;
  min-width: 0;
  padding-top: 5px;
}
.check-mark {
  margin: 0 6px;
}
.collection-mark {
  color: var(--collection-meta) !important;
}
.organization__header {
  align-items: flex-start;
  color: #f5f3f7;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {
  .organization__header {
    align-items: center;
    flex-direction: row;
    height: 400px;
    max-width: 1440px;
    padding: 0;
  }
}
.organization__title {
  font-size: 3.625rem;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 4px;
}
.organization__info-container {
  max-width: 980px;
}
.organization__info {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}
@media (min-width: 992px) {
  .organization__info {
    width: 45%;
  }
}
.organization__badge {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 4px;
}
.organization__attributes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  gap: 0.5rem;
  margin-bottom: 24px;
}
.inline-attribute {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 2.25rem;
  padding: 0 8px;
}
.gameDemo {
  border-radius: 1rem;
  height: 100%;
  min-width: 100%;
  overflow: hidden;
}
.gameDemo iframe,
.startMenu {
  aspect-ratio: 16/9;
  max-height: 70vh;
  min-width: 100%;
}
.startMenu {
  align-items: center;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.demoSection {
  display: none;
}
@media (min-width: 768px) {
  .demoSection {
    display: block;
  }
}
.videoSection {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.videoSection video {
  aspect-ratio: 16/9;
  border-radius: 1rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .videoSection video {
    max-height: 70vh;
    width: auto;
  }
}
.headerCardContainer {
  height: 300px;
  margin: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .headerCardContainer {
    height: 70vh;
  }
}
.headerCardContent,
.inactiveCardOverlay {
  border-radius: 0.75rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.headerCardContent {
  align-items: flex-end;
  background-clip: padding-box;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -200px 200px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  overflow: hidden;
  padding: 2rem;
}
@media (min-width: 768px) {
  .headerCardContent {
    box-shadow: inset 0 -250px 200px 0 rgba(0, 0, 0, 0.8);
  }
}
.inactiveCardOverlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.GamesPromoCarousel_arrow__Y8QV6 {
  top: 50%;
}
.GamesPromoCarousel_arrow__Y8QV6,
.GamesPromoCarousel_arrow__Y8QV6:hover {
  background: #120c18 !important;
  border: 1px solid #24182f;
}
.GamesPromoCarousel_arrow__Y8QV6 {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.GamesPromoCarousel_arrow__Y8QV6:hover {
  -webkit-transform: translateY(-50%) scale(1.02);
  transform: translateY(-50%) scale(1.02);
}
.GamesPromoCarousel_arrow__Y8QV6:before {
  display: none;
}
.GamesPromoCarousel_arrow__Y8QV6 svg {
  display: initial;
}
.GamesPromoCarousel_left__23bY9 {
  left: -10px;
}
.GamesPromoCarousel_right__ibNsD {
  right: -10px;
}
.me-tab2 span.me-tab2-title {
  font-family: var(--tab2__font-family);
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .me-tab2 span.me-tab2-title {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .me-tab2 span.me-tab2-title {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 900px) {
  .me-tab2 span.me-tab2-title {
    font-size: 1.2rem;
  }
}
.me-tab2.is-active span.me-tab2-title {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}
.me-tab2.is-active:after {
  background-color: var(--dark-pink);
  bottom: -1px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.caret-down,
.caret-up {
  position: relative;
}
.caret-down:before,
.caret-up:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
}
.caret-up:before {
  border: 3px solid transparent;
  border-bottom-color: #fff;
  top: 20%;
}
.caret-down:before,
.caret-up:before {
  content: "";
  height: 0;
  position: absolute;
  right: 4px;
  width: 0;
}
.caret-down:before {
  border: 3px solid transparent;
  border-top-color: #fff;
  top: 40%;
}
.percent-increase .caret-up:before {
  border-bottom-color: #3ae980;
}
.percent-decrease .caret-down:before {
  border-top-color: #f94e9b;
}
.me-table__pagination-btn {
  background-color: #23182f;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.me-table__pagination-btn:hover {
  background-color: #1c1426;
}
.me-table__pagination-btn:disabled {
  opacity: 0.7;
}
.me-table__pagination-page-size input {
  height: 36px !important;
  width: 100px;
}
.accordion,
.accordion-header,
.accordion-item {
  background-color: var(--bg-color-primary);
}
.accordion-body,
.accordion-button {
  border: 1px solid var(--accordion-border-color);
  border-radius: 8px !important;
}
.theme-raydium .accordion-body {
  border: none;
}
.accordion-button {
  background-color: var(--accordion-button-background-color) !important;
  color: var(--white) !important;
  outline: none;
}
.accordion-button.disabled {
  color: var(--p-color-primary) !important;
}
.accordion-button:focus {
  border-color: var(--accordion-border-color);
  box-shadow: none;
  color: var(--white);
  outline: none;
}
.accordion-button:after,
.accordion-button:focus:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23B4ABBA'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}
.accordion-button.has-secondary-header:after {
  content: none;
}
.theme-raydium .accordion-button:after,
.theme-raydium .accordion-button:focus:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C4D6FF'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}
.accordion-collapse {
  transition-duration: 0.1s;
}
.Filters_pillTabs__MTuiv {
  display: inline-block !important;
}
.Filters_pillTab__ASn7s,
.Filters_pillTabs__MTuiv {
  border-radius: 20px !important;
}
.Filters_pillTabs__MTuiv:first-of-type {
  margin-left: 5px;
}
.Filters_pillTabs__MTuiv:last-of-type {
  margin-right: 5px;
}
.Filters_select__KPpXu,
input {
  display: inline-block;
  margin-right: 5px;
}
.Filters_input__uf\+vg {
  background: #120c18;
  border: 1px solid #4d3d5c;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  width: auto;
}
.Filters_inline__PaQYG {
  display: inline-block;
}
.Filters_predicate__7J-Ne {
  margin: 0.2rem 0;
}
.Filters_predicate__7J-Ne:last-of-type {
  margin: 0.2rem 0 1rem;
}
.Filters_conjunction__7rLqT {
  font-size: 0.8rem;
}
.Filters_delete__aztX- {
  display: inline-block;
  line-height: 50px;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.Filters_delete__aztX-:hover {
  cursor: pointer;
}
.AboutPage_aboutPage__juJr- h2 {
  line-height: 120%;
}
.AboutPage_aboutPage__juJr- p {
  line-height: 160%;
}
@media (min-width: 1200px) {
  .AboutPage_aboutPage__juJr- {
    max-width: 1440px;
  }
}

.AboutPage_aboutVideoContainer__GBchy:before {
  border: 1px solid #e42575;
  content: "";
  -webkit-filter: blur(4px);
  filter: blur(4px);
  height: 100%;
  position: absolute;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  width: 100%;
}
.AboutPage_storyBackdrop__s6GjY {
  background: linear-gradient(
    265.17deg,
    rgba(18, 12, 24, 0) -3.44%,
    #120c18 23.6%
  );
}
.AboutPage_storyBehindName__xlyyN {
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
.AboutPage_button__cBu7R {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
.AboutPage_button__cBu7R > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(0.5rem * (1 - var(--tw-space-x-reverse)));
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
}
.AboutPage_button__cBu7R {
  background: #e42575;
  border-radius: 0.25rem;
  color: #f5f3f7;
  min-height: 44px;
  padding: 12px 16px;
}
.AboutPage_button__cBu7R.AboutPage_secondary__2qSCz {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgba(18, 12, 24, var(--tw-bg-opacity));
  border-color: rgba(228, 37, 117, var(--tw-border-opacity));
  border-width: 1px;
}
.AboutPage_button__cBu7R.AboutPage_mobile__FGRHd {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0;
}
@media (min-width: 576px) {
  .AboutPage_button__cBu7R.AboutPage_mobile__FGRHd {
    padding: 12px 16px;
  }
}
.AboutPage_arrow__j5VbU {
  display: flex;
}
@media (min-width: 500px) {
  .AboutPage_arrow__j5VbU {
    display: none;
  }
}

.launchpad_container {
  padding: 0 50px 50px 50px;
}
.launchpad .header_1 {
  position: relative !important;
}
.gif {
  width: 100%;
  height: 500px;
}
@media (max-width: 768px) {
  .launchpad_container {
    margin: 0;
  }
}
.launchpad {
  background: #000;
}
.container_d_flex {
  display: flex;
  justify-content: space-between;
  background: #000;
}
.future_lanch {
  width: 50%;
}
.FEATURED_LAUNCH {
  width: 140px;
  color: #95275a;
  display: flex;
  justify-content: center;
  border: 1px solid #95275a;

  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.FEATURED_LAUNCH_h1 {
  font-weight: 900;
  margin-bottom: 15px;
}
.d_flex_icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.doxxed_ {
  width: 100px;
  color: #95275a;
  display: flex;
  justify-content: center;
  border: 1px solid #95275a;
  padding: 10px;
  border-radius: 10px;
}
.escrow_ {
  border-radius: 10px;
  width: 100px;
  color: #95275a;
  border: 1px solid #95275a;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 7px;
}
.tw-font-light {
  font-size: 20px;
  margin: 0 7px;
}
.tw-font-bold {
  font-size: 17px;
  margin: 0 7px;
}
.icon_d_flex_ a svg {
  margin: 0 7px;
  font-size: 22px;
}
.text__p {
  margin-bottom: 10px;
  font-size: 15px;
}
.d_flex_bottm {
  display: flex;
  justify-content: space-between;
}
.aaa {
  margin-bottom: 7px;
}
.ended {
  color: #95275a;
}
.d_flex___ {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.205);
  padding: 10px;
  margin-bottom: 10px;
}
.text_aaa {
  font-size: 20px;
}
.ddd_flex {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.205);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 21px;
}
/* .dddd_flex {
  display: flex;
  justify-content: flex-end;
} */
.d_flex_text___ {
  display: flex;
}
.d_flex_text___ span {
}
.spann {
  font-size: 22px;
}
.publick {
  font-size: 21px;
}
